<div class="bgImg">
  <img routerLink="/" src="../../../assets/images/backgroundImg.png" alt="Picture didn't load..." />
</div>
<div class="container-fluid bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="well header" style="text-align:center;">
          <b>Recently Added Spots</b>
        </div>
        <div class="well formsContainer">
          <p>hello</p>
          <p>hello</p>
          <p>hello</p>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="well header" style="text-align:center;">
          <b>Browse All Spots</b>
        </div>
        <div class="spot-wrapper">
          <div class="well formsContainer" *ngFor="let spot of allSpots | async">
            <div class="row">
              <div class="col">
                <b>{{spot.key}}</b>
                <b>{{spot.name}}</b>
                <p>{{spot.description}}</p>
              </div>
              <div class="col-2">
                IMG PENDING
              </div>
              <div class="col-2">
                MAP PENDING
              </div>
            </div>
            <div style="width: 108%">
                <button type="button" class="btn" [routerLink]="['/details/' ,spot.key]">Details</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>