<div class="bgImg">
 <img routerLink="/" src="../../../assets/images/backgroundImg.png" alt="Picture didn't load..." />
</div>
<div class="container-fluid bg">
 <div class="container">
   <div class="row">
     <div class="col-lg-4">
             <div class="well"><b>Recently Added Spots</b></div>
     </div>
     <div class="col-lg-8">
         <div class="well"><b>Browse All Spots</b></div>
     </div>
   </div>
   <div class="row">
       <div class="col-lg-4">
               <div class="well"><b>Recently Added Spots</b></div>
       </div>
       <div class="col-lg-8">
           <div class="well"><b>Browse All Spots</b></div>
       </div>
     </div>
 </div>
</div>