.topnav {
    overflow: hidden;
}

.navlinks{
margin-right: 2em;
}

.topnav img{
    width: 30em;
    cursor:crosshair;
}

.topnav a {
    display: block;
    text-align: center;
    padding: 8px 20px;
    text-decoration: none;
    font-size: 1.2em;
    margin: 1.5em;
    
    font-family: avenir, 'avenir next', helvetica, arial, sans-serif;
}

.right{
    float: right;
}
.left{
    float: left;
}

.notOrange{
    color: #636363;
    
}

.notOrange:hover{
    color:#D55B1B;
}

.orange{
    border:solid #b8b8b8 1px;
    color:white;
    background-color: #D55B1B;
    margin-right: 4em;
    transition: 0.2s;
}

.orange:hover{
    color:#D55B1B;
    background-color: white;
    border: solid 1px #d65d00;
}