agm-map {
    height: 50vh;
    /* display: flex; */
  }

/* .flex-container{
    height: 500px;
    background-color: red;
    display: flex;
    align-items: stretch; 
} */

.searchbar{
    border:solid 1px black;
    border-radius: 10%;
    background-color: rgba(172, 170, 170, 0.654);
    width: 15em;
    height: 2.5em;
    position: relative;
    bottom: 45vh;
    z-index: 1;
    text-align: center;
    margin: auto;
    
}

.filter{
    border:solid 3px black;
    width: 8em;
    height: 10em;
    position: relative;
    bottom: 37vh;
    float: right;
    /* margin-right: 5vh; */
    z-index: 1;
}

.wrapper{
    position: relative;
}