<div class="wrapper">
        <!-- Google maps -->
        <agm-map [latitude]="lat" [styles]="style" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]=false (mapClick)="mapClicked()">
            <agm-marker-cluster [imagePath]="'//cdn.rawgit.com/mahnunchik/markerclustererplus/master/images/m'" [maxZoom]="10">
                <agm-marker *ngFor="let m of spots; let i = index" (markerClick)="clickedMarker(m, i)" [iconUrl]="icon" [latitude]="m.lat"
                    [longitude]="m.lng" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">
                    <agm-info-window>
                        {{m.name}}
                    </agm-info-window>
                </agm-marker>
            </agm-marker-cluster>
        </agm-map>
        <!-- Search elements - contains ngClass -->
        <div class="search-container">
            <input type="text" class="searchbar" (click)="showSearchResults()" (input)="searchSpots($event)" />
            <div class="search-result" [ngClass]="{visable: isVisable}">
                <!-- *ngFor and routing -->
                <div *ngFor="let s of searchResult; let i = index">
                    <h6 [routerLink]="['/details/' ,s.key]" class="search-spot-to-details">{{s.name}}</h6>
                </div>
            </div>
        </div>
    </div>