img{
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.headerContainerDetails{
    background-color: rgba(214, 93, 0, 0.9);
    color: white;
    text-align: center;
    border-radius: 10px;
    border: solid 1px grey;
    margin-bottom: 10px;
    padding: 10px;
}

.descriptionArea{
    background-color: rgb(214, 93, 0);
    color: white;
    border-radius: 10px;
    border: solid 1px lightgrey;
    /* margin-bottom: 1em; */
    padding: 10px;
}
.typeClass{
    margin: auto;
    background-color: rgb(214, 93, 0);
    color: white;
    border-radius: 10px;
    border: solid 1px lightgrey;
    padding: 7px;
}