<div class="bgImg" style="z-index: -1;">
  <img routerLink="/" src="../../../assets/images/backgroundImg.png" alt="Picture didn't load..." />
</div>
<div class="container-fluid bg" style="padding-bottom: 150px;">
  <div class="container" align="center">
    <div class="headerContainerDetails">
      <h2>{{spot.name}}</h2>
    </div>
    <div class="formsContainer">
      <div class="col">
        <ngb-carousel class="ngb-carousel">
          <ng-template ngbSlide>
            <img src="../assets/images/skatespot.jpg" alt="Random first slide">
            <div class="carousel-caption">
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img src="../assets/images/skatespot3.jpg" alt="Random second slide">
            <div class="carousel-caption">
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img src="../assets/images/skatespot2.jpg" alt="Random third slide">
          </ng-template>
        </ngb-carousel>
        <div class="row mt-5">
          <div class="col" style="text-align: left;">
            <h4>Description:</h4> 
              <p>{{spot.description}}</p>
            <div class="row ml-1">
              <h4>Type:</h4>
              <span *ngIf="spot.stairs == true"><p class="typeClass">Stairs</p></span>
              <span *ngIf="spot.plaza == true"><p class="typeClass">Plaza</p></span>
              <span *ngIf="spot.rails == true"><p class="typeClass">Rails</p></span>
              <span *ngIf="spot.transition == true"><p class="typeClass">Transition</p></span>
              <span *ngIf="spot.curbs == true"><p class="typeClass">Curbs</p></span>
            </div>
          </div>
          <div class="col-9">
            <h4>Location:</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div>
  <table>
    <tr class="tableClass">
      <th>Description: </th>
      <th>Location: </th>
    </tr>
    <tr>
      <td class="descriptionClass">Skate skejt yo yo kickflip! Skate skejt yo yo kickflip! Skate skejt yo yo kickflip! Skate skejt yo yo kickflip! Skate
        skejt yo yo kickflip!</td>
      <td></td>
    </tr>
  </table>
  <table>

    <tr>
      <th>Type: </th>
      <td class="typeClass">Curbs</td>
      <td class="typeClass">Plaza</td>
      <td class="typeClass">Ledges</td>
    </tr>
  </table>
</div> -->