<div class="container pt-5" align="center">
    <div class="headerContainer">
        <h4>Add Spot</h4>
    </div>
    <!-- This is a modal -->
    <ng-template #content let-c="close" let-d="dismiss" style="width:50em">
        <div class="modal-header">
            <h4 class="modal-title">Modal title</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
                <agm-map [latitude]="lat" [styles]="style" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]=false (mapClick)="mapClicked($event)" [streetViewControl]=false [clickableIcons]=false>
                    <agm-marker [longitude]="markerLng" [latitude]="markerLat" [iconUrl]="icon">
                        
                    </agm-marker>
                        <!-- <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m, i)" [iconUrl]="icon" [latitude]="m.lat"
                            [longitude]="m.lng" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">
                
                            <agm-info-window>
                                {{m.name}}
                            </agm-info-window>
                
                        </agm-marker> -->
                    </agm-map>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn buttonDesign" (click)="c('Close click')">Done!</button>
        </div>
    </ng-template>
    <!-- End of modal -->

    <div class="formsContainer">
        <form [formGroup]="addSpotFormGroup" novalidate>
            <div class="form-group">
                <div class="row">
                    <div class="col formStyle">
                        <input class="form-control" formControlName="name" placeholder="Name" />
                        <br>
                        <input class="form-control" formControlName="description" placeholder="Description" />
                        <br>
                    </div>
                    <div class="col">
                        <button class="btn buttonDesign">Add picture(s)</button>
                        <br>
                        <!-- This is Loves work in progress  -->
                        <button class="btn buttonDesign" (click)="open(content)">Select position</button>
                    </div>
                </div>
                <label>Category</label>
                <div class="row">
                    <label class="checkbox-inline">
                        <input type="checkbox" formControlName="curbs">Curbs</label>
                    <label class="checkbox-inline">
                        <input type="checkbox" formControlName="rails">Rails</label>
                    <label class="checkbox-inline">
                        <input type="checkbox" formControlName="stairs">Stairs</label>
                    <label class="checkbox-inline">
                        <input type="checkbox" formControlName="plaza">Plaza</label>
                    <label class="checkbox-inline">
                        <input type="checkbox" formControlName="transition">Transition</label>
                </div>
                <button class="btn submitButtonDesign" (click)="submitFormValue()">Add spot</button>
            </div>
        </form>
    </div>
    <br>
    <br>
    <div class="col">
        <pre>formgroup value: {{ addSpotFormGroup.value | json}}</pre>
        <pre>formgroup status: {{ addSpotFormGroup.status | json}}</pre>
    </div>
</div>