<div class="bgImg">
    <img routerLink="/" src="../../../assets/images/backgroundImg.png" alt="Picture didn't load..." />
</div>
<div class="container pt-5" align="center">
    <div class="headerContainer">
        <h4>Add Spot</h4>
    </div>

        <form [formGroup]="addSpotFormGroup" novalidate>
            <div class="form-group">
                <div class="row">
                    <div class="col formStyle">
                        <input class="form-control" formControlName="name" placeholder="Name" />
                        <br>
                        <input class="form-control" formControlName="description" placeholder="Description" />
                        <br>
                    </div>
                    <div class="col">
                        <button class="btn buttonDesign">Add picture(s)</button>
                        <br>
                        <!-- This is Loves work in progress  -->
                        <button class="btn buttonDesign" (click)="open(content)">Select position</button>
                    </div>
                </div>
                <label>Category</label>
                <div class="row">
                    <label class="checkbox-inline">
                        <input type="checkbox" formControlName="curbs">Curbs</label>
                    <label class="checkbox-inline">
                        <input type="checkbox" formControlName="rails">Rails</label>
                    <label class="checkbox-inline">
                        <input type="checkbox" formControlName="stairs">Stairs</label>
                    <label class="checkbox-inline">
                        <input type="checkbox" formControlName="plaza">Plaza</label>
                    <label class="checkbox-inline">
                        <input type="checkbox" formControlName="transition">Transition</label>
                </div>
                <button class="btn submitButtonDesign" (click)="submitFormValue()">Add spot</button>
            </div>
        </form>
    </div>
    <!-- <br>
    <br>
    <div class="col">
        <pre>formgroup value: {{ addSpotFormGroup.value | json}}</pre>
        <pre>formgroup status: {{ addSpotFormGroup.status | json}}</pre>
    </div> -->
</div>