agm-map {
    height: 30vh;
    /* display: flex; */
  }

.buttonDesign{
    background-color: #d65d00;
    color: white;
    margin-top: 20px;
}

.buttonDesign:hover{
    background-color: white;
    border: solid 1px #d65d00;
    color: #d65d00;
}

.formStyle{
    margin-top:20px;
    margin-left: 50px;
}

.headerContainer{
    background-color: rgba(214, 93, 0, 0.9);
    color: white;
    width: 60%;
    border-radius: 10px;
    border: solid 1px lightgrey;
    margin-bottom: 10px;
    padding: 10px;
}