@import "~bootstrap/dist/css/bootstrap.css";
 
 .bg {
    /* background-color: rgb(0, 0, 0); */
    height: 100%;
    width: 100%;
 
    position: fixed;
    padding-top: 3em;
 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
 
 .bgImg {
    /* background-image: url("assets/images/backgroundImg.png"); */
    filter: brightness(50%);
 
    height: 100%;
    width: 100%;
 
    
    position: fixed;
 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

 .headerContainer{
    background-color: rgba(214, 93, 0, 0.9);
    color: white;
    text-align: center;
    width: 60%;
    border-radius: 10px;
    border: solid 1px grey;
    margin-bottom: 10px;
    padding: 10px;
}

.submitButtonDesign:hover{
    background-color: white;
    border: solid 1px #d65d00;
    color: #d65d00;
}

.submitButtonDesign{
    background-color: rgb(214, 93, 0);
    color: white;
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.formsContainer{
    background-color: rgba(229, 229, 229, 0.7);
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 15px;
}